<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        {% include "includes/head.twig" %}
        {% include basekit.headScript %}
    </head>

    <body {{ isV10sSite ? 'id="migrated-site"' : '' }} class="{{ page.backgroundClass }} {% block class %}{% endblock %}">

        <!-- Main Widget Zone -->
        {% block content %}
        {% endblock %}

        <!-- Footer Include -->
        {% include "includes/footer.twig" %}

        {% include basekit.bodyScript %}

        <script nonce="{{ numberUsedOnce }}">
            var navigationToggle = document.querySelector('.navigation-toggle');
            navigationToggle.addEventListener('click', function () {
                document.querySelector('.bk-extendednavigation').classList.toggle('open');
            });
        </script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
